<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boetchain.bitcoinnode">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.boetchain.bitcoinnode.App"
        android:theme="@style/AppTheme">

        <!-- SUGAR ORM CONFIG -->
        <meta-data android:name="DATABASE" android:value="boetchain_bitcoinnode2.db" />
        <meta-data android:name="VERSION" android:value="18" />
        <meta-data android:name="QUERY_LOG" android:value="false" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.boetchain.bitcoinnode.model" />

        <!-- ACTIVITIES -->
        <activity android:name="com.boetchain.bitcoinnode.ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.boetchain.bitcoinnode.ui.activity.AboutActivity" />=

        <!-- RECEIVER -->
        <receiver android:name="com.boetchain.bitcoinnode.worker.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- SERVICE -->
        <service android:name="com.boetchain.bitcoinnode.worker.service.PeerManagementService"></service>

    </application>
</manifest>